VITE_USE_MOCK=false
VITE_API_BASE_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com/dev
VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_<pool-id>
VITE_COGNITO_USER_POOL_CLIENT_ID=<client-id>
VITE_S3_BUCKET=<venue-images-bucket>
