VITE_USE_MOCK=false
VITE_API_BASE_URL=https://8cv7ir3d65.execute-api.us-east-1.amazonaws.com/dev
VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_K5OnGgigE
VITE_COGNITO_USER_POOL_CLIENT_ID=3vqhbrqe0lqr7brm108fcu57qq
VITE_S3_BUCKET=
